<div class="container">

    <div class="row">
        <div class="col s6 m4">
            <div class="card-panel teal folder">
                Dossier
            </div>
        </div>
        <div class="col s6 m4">
            <div class="card-panel teal folder">
                Dossier
            </div>
        </div>
        <div class="col s6 m4">
            <div class="card-panel teal folder">
                Dossier
            </div>
        </div>
    </div>
</div>

<div class="action">
    <button class="takePicture"><span class="material-icons">camera</span></button>'
</div>