<div class="cam">
  <!-- <video class="webcam"></video>
  <canvas></canvas>
  <button class="btn-floating btn-large waves-effect waves-light snap"><i class="material-icons">camera</i></button> -->
  <div class="action">
    <button class="takePicture"><span class="material-icons">camera</span></button>
  </div>
</div>

<div class="tryAgain">
  <div id="modal1" class="modal">
    <div class="modal-content">
      L'application a besoin de votre autorisation pour fonctionner. <br>
      Souhaitez-vous l'activez ?
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat activate">Okay</a>
    </div>
  </div>
</div>