<nav>
    <div class="nav-wrapper">
        <a class="brand-logo">Receipt Bank</a>
        <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li class="link" data-link="import">Importer des images</li>
            <li class="link" data-link="assistance">Assistance</li>
            <li class="link" data-link="about">A propos</li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li class="link" data-link="import">Importer des images</li>
    <li class="link" data-link="assistance">Assistance</li>
    <li class="link" data-link="about">A propos</li>
</ul>